﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/_MainStylesheet.css" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:aliceblue ;     margin-bottom: 60px;

">
<!--menu-->
<div class="container">
    <div class="row" style="padding-top:20px">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab">
                <a class="nav-link" style="color:#16181b" href="~/User/Lecturer/Info">Lecturers</a>
                <a class="nav-link" style="color:#16181b" href="~/User/Course/Info">Courses</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                @RenderSection("Main", required: false)
            </div>
        </div>
        <div class="col-2">
            <div class="dropdown open">
                <button class="btn btn-secondary dropdown-toggle" style="border-color:aliceblue; background-color:aliceblue; color:#16181b" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @CMSys_project.Helpers.Constant.CurrentName
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>



<footer
    style="text-align: center; padding-top: 10px;  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
font-size: 20px;
  background-color: #F0F0E9;">
    &copy; Copyright 2019
    DLSys
</footer>
</body>

<environment names="Development,Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</environment>

@RenderSection("validation", required: false)
</html>