﻿@model CMSys_project.ViewModels.LecturerGroupVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete Lecturer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main
{
    <div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        <div>
            <div class="alert alert-warning" role="alert">
                Delete this Department?
            </div>
            <div>
                <form style="display: inline-block" asp-controller="AdminLecturerGroup" asp-action="Delete" method="post">
                    <button type="submit" class="btn btn-success" style="background-color:darkseagreen">Yes</button>
                </form>
                <form style="display: inline-block" asp-controller="AdminLecturerGroup" asp-action="Info" method="post">
                    <button type="submit" class="btn btn-primary" style="background-color: #ADD8E6">No</button>
                </form>
            </div>
        </div>
    </div>
}