﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "lecturer Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <h2>lecturer groups</h2>
    <div class="form-group">
        <a class="btn btn-secondary btn-lg" asp-action="Create">Add group</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (LecturerGroupVM item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-controller="AdminLecturerGroup" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-controller="AdminLecturerGroup" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}