﻿@model CMSys_project.ViewModels.DepartmentVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "Edit Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <form asp-action="edit" asp-controller="AdminDepartment" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success" style="background-color:darkseagreen"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}