﻿@using CMSys_project.ViewModels
@model CMSys_project.ViewModels.CourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Edit Course";
}

@section Main{
    <form asp-action="edit" asp-controller="AdminCourse" asp-route-id="@Model.Id">
        <div class="form-group">
            <label>Name</label>
            <div class="form-group">
                <input type="text" asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label>New course</label>
            <div class="form-group">
                <input type="checkbox" asp-for="Status"/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Type"></label>
            <div class="form-group">
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<CourseTypeVM>()">
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Schedule"></label>
            <div class="form-group">
                <select asp-for="Schedule" asp-items="Html.GetEnumSelectList<WayPlanningVM>()">
                </select>
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Department</label>
            <select class="form-control" asp-for="GroupCourseId" asp-items="@Model.Departments"></select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <div class="form-group">
                <input type="text" asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success" style="background-color:darkseagreen"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}