﻿@model CMSys_project.ViewModels.LoginVM

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section Main{
<style>
    span.validation {
        color: rgb(255, 0, 0)
    }
</style>
        <form class="form-signin" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <label asp-for="Email" class="sr-only">Email address</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
            <span class="validation" asp-validation-for="Email"></span>
            <label asp-for="Password" class="sr-only">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
            <span class="validation" asp-validation-for="Password"></span>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
        </form>
    }
    <environment names="Development,Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
    @section validation {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
