﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CMSys_project.ViewModels
@{
    ViewBag.Title = "Courses";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("Lecturer"))
    {
        Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
   
}

@section Main{
    <h2>Courses</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Type</th>
                <th>Status</th>
                <th>Lecturers</th>
                <th>Start date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CourseVM item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Department.Name</td>
                <td>@item.Type</td>
                <td>
                    @{
                        if (item.Status)
                        {
                            <text>New</text>
                        }
                    }
                </td>

                <td>
                    @foreach (LecturerVM Lecturer in item.Lecturers)
                    {
                        <li>
                            @Lecturer.User.FullName
                        </li>
                    }
                </td>
                <td>

                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Profile" asp-controller="UserCourse" asp-route-id="@item.Id">Info</a>
                    <a class="btn btn-outline-dark" asp-action="Subscribe" asp-controller="UserCourse" asp-route-id="@item.Id">Subscribe</a>

                </td>

            </tr>
           
        }
            </tbody>
        </table>
}