﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CMSys_project.ViewModels.CourseVM;
@{
    ViewBag.Title = "Courses";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("Lecturer"))
    {
        Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

@section Main{
    <h2>Courses</h2>
    <div class="form-group">
    </div>
    <thead>
    </thead>
    <body>
    <h2>@Model.Name</h2>
    <br />
    <h4>Lecturers</h4>
    @foreach (LecturerVM Lecturer in Model.Lecturers)
    {
        <li>
            @Lecturer.User.FullName
        </li>
    }
    <br />

    <h6>Type: @Model.Type</h6>
    <h6>Arrangement: @Model.Schedule</h6>
    @Model.Id
    <br />

    <h5>Description</h5>
    <p>
        @Model.Description
    </p>
    <br/>
    Would you like to subscribe?
    <div>
        <form style="display: inline-block" asp-controller="UserCourse" asp-action="Subscribe" method="post" asp-route-idd="@Model.Id">
            <button type="submit" class="btn btn-success" style="background-color:darkseagreen">Yes</button>
        </form>
        <form style="display: inline-block" asp-controller="UserCourse" asp-action="Info">
            <button type="submit" class="btn btn-primary" style="background-color: #ADD8E6">No</button>
        </form>
    </div>
    </body>

}