﻿@using CMSys_project.ViewModels
@model CMSys_project.ViewModels.CourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    ViewBag.Title = "Edit Lecturers";
}

@section Main{
    <h2>@Model.Name</h2>
    <hr/>

    <table class="table table-bordered">
        <tr>
            <td>Profile</td>
            <td>Action</td>
        </tr>
        @{
            foreach (LecturerVM Lecturer in Model.Lecturers)
            {
                <tr>
                    <td>
                        @Lecturer.User.FullName
                    </td>
                    <td>
                        <a asp-controller="AdminCourse" asp-action="DeleteLecturer"
                           asp-route-courseId="@Model.Id" asp-route-LecturerId="@Lecturer.UserId">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
    <br/>

    <form asp-controller="AdminCourse" asp-action="AddLecturer" asp-route-courseId="@Model.Id" method="post">
        <div class="form-group">
            <label>Select Lecturer:</label>
            <select class="form-control" asp-for="SelectedLecturer" asp-items="@Model.AllTheLecturers"></select>
        </div>

        <input class="btn btn-success" style="background-color:darkseagreen" type="submit" value="Add"/>
        <a class="btn btn-primary" style="background-color: #ADD8E6" asp-controller="Course" asp-action="Info" asp-route-id="@Model.Id">Back</a>

    </form>

    <br/>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}