﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    ViewBag.Title = "Courses";
}

@section Main{
    <h2>Courses</h2>
    <div class="form-group">
        <a class="btn btn-secondary btn-lg" asp-action="Create">Add course</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Type</th>
            <th>Status</th>
            <th>Lecturers</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (CourseVM item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Department.Name</td>
                <td>@item.Type</td>
                <td>
                    @{
                        if (item.Status)
                        {
                            <text>New</text>
                        }
                    }
                </td>

                <td>
                    @foreach (LecturerVM Lecturer in item.Lecturers)
                    {
                        <li>
                            @Lecturer.User.FullName
                        </li>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-controller="Course" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-controller="Course" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-outline-dark" asp-action="EditLecturer" asp-controller="Course" asp-route-id="@item.Id">Edit Lecturers</a>
                    <a class="btn btn-outline-dark" asp-action="Profile" asp-controller="Course" asp-route-id="@item.Id">Info</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}