﻿@using CMSys_project.ViewModels
@model CMSys_project.ViewModels.CourseVM;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
    ViewBag.Title = "Courses";
}

@section Main{
    <h2>Courses</h2>
    <div class="form-group">
    </div>
    <thead>
    </thead>
    <body>
    <h2>@Model.Name</h2>
    <br/>
    <h4>Lecturers</h4>
    @foreach (LecturerVM Lecturer in Model.Lecturers)
    {
        <li>
            @Lecturer.User.FullName
        </li>
    }
    <br/>

    <h6>Type: @Model.Type</h6>
    <h6>Arrangement: @Model.Schedule</h6>
    <br/>

    <h5>Description</h5>
    <p>
        @Model.Description
    </p>
    <a class="btn btn-outline-dark" asp-action="Info" asp-controller="Course">Back</a>
    </body>

}