﻿@model CMSys_project.ViewModels.LecturerVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add lecturer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <form asp-action="Create" asp-controller="AdminLecturer">


        <div class="form-group">
            <label>User</label>
            <select class="form-control" asp-for="UserId" asp-items="@Model.NonLecturers"></select>
        </div>
        <div class="form-group">
            <label>lecturer group</label>
            <select class="form-control" asp-for="GroupId" asp-items="@Model.Groups"></select>
        </div>
        <div class="form-group">
            <label>About lecturer</label>
            <div class="form-group">
                <input type="text" asp-for="About" class="form-control"/>
                <span asp-validation-for="About"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success" style="background-color:darkseagreen"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}