﻿@model CMSys_project.ViewModels.LecturerVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add Lecturer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{

    <form asp-controller="AdminLecturer" asp-action="Edit" asp-route-id="@Model.UserId">

        <div class="form-group">
            <label>Select Lecturer Group:</label>
            <select class="form-control" asp-for="GroupId" asp-items="@Model.NonLecturers"></select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <div class="form-group">
                <textarea rows="10" asp-for="About"></textarea>
                <span asp-validation-for="About"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success" style="background-color:darkseagreen"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}