﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Lecturers";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <h2>Lecturers</h2>
    <div class="form-group">
        <a class="btn btn-secondary btn-lg" asp-action="Create">Add lecturer</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Group</th>
            <th>Photo</th>
            <th>Name</th>
            <th>About</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (LecturerVM item in Model)
        {
            <tr>
                <td>@item.Group.Name</td>
                <td>
                    @{
                        if (item.User.Photo.Length == 0)
                        {
                            <text>No photo</text>
                        }
                        else
                        {
                            <img style="display: inline-block; height: 128px; width: 95px;"
                                 src="data:image;base64,@Convert.ToBase64String(item.User.Photo)" alt="User image" />
                        }
                    }
                </td>
                <td>@item.User.FullName</td>
                <td>@item.About</td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-controller="AdminLecturer" asp-route-id="@item.UserId">Edit</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-controller="AdminLecturer" asp-route-id="@item.UserId">Delete</a>
                    <a class="btn btn-outline-dark" asp-action="Profile" asp-controller="AdminLecturer" asp-route-id="@item.UserId">Info</a>

                </td>
            </tr>
        }
        </tbody>
    </table>
}